/*Tab Styles*/

.account-content-tab-container {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    height: 100vh;
}

.account-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15;
}

.account-col-80 {
    flex: 80%;
}

.account-col-60 {
    flex: 60%;
}

.account-col-50 {
    flex: 50%;
}

.account-col-20 {
    flex: 20%;
}

.tabs {
    overflow: hidden;
    width: 100%;
    border-bottom: 1px solid #778899;
    border-radius: 5px;
}

.tablinks {
    background-color: #778899;
    float: left;
    border: none;
    width: 25%;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

button.tablinks {
    color: #FFFAF3;
}

.tablinks:hover {
    background-color: lightgrey;
}

.tabContent {
    padding: 10px 20px 15px 20px;
    overflow: none;
    display: none;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#orders {
    width: 75%;
}

#login-and-security {
    display: flex;
}


/*Form Contents*/

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

label {
    width: 100%;
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}


/*Login and Security Content Styles*/

.LaS-item {
    display: flex;
    flex-wrap: wrap;
    flex: 100%;
    padding: 10px 20px 15px 20px;
    margin-bottom: 10px;
    border: 2px solid #778899;
    border-radius: 5px;
}

button[type=form-edit] {
    background-color: #778899;
    color: #FFFAF3;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
}


/*Orders Content Styles*/

.order-item {
    display: flex;
    flex-wrap: wrap;
    flex: 100%;
    padding: 10px 20px 15px 20px;
    border: 2px solid #778899;
    border-radius: 5px;
    margin-bottom: 15px;
}

.order-product-container {
    display: flex;
    flex-wrap: nowrap;
}

.order-product-img-container {
    flex: auto;
}

.order-item-pricing {
    padding: 10px;
}

.order-item-pricing p {
    margin-top: 0%;
}

.order-product-title-container {
    flex: 80%;
    padding: 10px 20px 15px 20px;
}

img {
    border: 1px solid #778899;
    width: 140px;
    height: 180px;
}

button[type=form-review],
button[type=form-buy-again] {
    background-color: #778899;
    color: #FFFAF3;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
}


/*Payment Options Content Styles*/

#add-payment-option h3 {
    text-align: center;
    margin-top: 0;
}

.payment-tab-container {
    display: flex;
    flex-wrap: wrap;
}

.payment-tabs {
    float: left;
    border-right: 2px solid #778899;
    height: 500px;
}

.payment-tabs button {
    background-color: #778899;
    color: #FFFAF3;
    margin-top: 10px;
    padding: 10px;
    width: 95%;
    height: auto;
    border: none;
    border-radius: 5px;
}

.paymentTabContent {
    margin-right: 10px;
    padding: 10px 20px 15px 20px;
    overflow: none;
    display: none;
}

#payment-option-1 {
    display: flex;
}

.new-payment-option-form-container {
    width: 60%;
}

.account-payment-cc-icon-container {
    padding: 5px;
    margin-left: 5px;
    font-size: 30px;
}

.paymentTabContent label {
    margin-bottom: 5px;
    display: block;
}

input[type=text] {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: none;
    outline: none;
    border: 2px solid #778899;
    border-radius: 5px;
}

.payment-btn {
    background-color: #778899;
    color: white;
    padding: 8px;
    border: none;
    margin-left: 16px;
    width: 63%;
    font-size: 15px;
    border-radius: 5px;
}


/*Wish List Content Styles*/

.wishlist-item {
    display: flex;
    flex-wrap: wrap;
    flex: 100%;
    padding: 10px 20px 15px 20px;
    border: 2px solid #778899;
    border-radius: 5px;
    margin-bottom: 15px;
}

.wishlist-product-container {
    display: flex;
    flex-wrap: nowrap;
}

.wishlist-img-container {
    flex: auto;
}

.wishlist-title-container {
    flex: 80%;
    padding: 10px 20px 15px 20px;
}

button[type=form-buy-now],
button[type=form-add-to-cart],
button[type=form-remove] {
    background-color: #778899;
    color: #FFFAF3;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
}

span {
    float: right;
    color: black;
    padding-right: 5px;
}