/*Tab Styles*/

.account-content-tab-container {
    width: 70%;
    margin: auto;
}

.account-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15;
}

.account-col-80 {
    flex: 80%;
}

.account-col-60 {
    flex: 60%;
}

.account-col-20 {
    flex: 20%;
}

.tabs {
    overflow: hidden;
    width: 100%;
    border-bottom: 1px solid #778899;
}

.tablinks {
    background-color: #778899;
    float: left;
    border: none;
    width: 25%;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

button.tablinks {
    color: #FFFAF3;
}

.tablinks:hover {
    background-color: lightgrey;
}

.tabContent {
    padding: 10px 20px 15px 20px;
    overflow: none;
    display: none;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#orders {
    width: 75%;
}

#login-and-security {
    display: flex;
}


/*Form Contents*/

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

label {
    width: 100%;
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}


/*Login and Security Content Styles*/

.LaS-item {
    display: flex;
    flex-wrap: wrap;
    flex: 100%;
    padding: 10px 20px 15px 20px;
    margin-bottom: 10px;
    border: 2px solid #778899;
    border-radius: 5px;
}

button[type=edit] {
    background-color: #778899;
    color: #FFFAF3;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
}


/*Orders Content Styles*/

.order-item {
    display: flex;
    flex-wrap: wrap;
    flex: 100%;
    padding: 10px 20px 15px 20px;
    border: 2px solid #778899;
    border-radius: 5px;
    margin-bottom: 15px;
}

.order-product-container {
    display: flex;
    flex-wrap: nowrap;
}

.order-product-img-container {
    flex: auto;
}

.order-item-pricing {
    padding: 10px;
}

.order-item-pricing p {
    margin-top: 0%;
}

.order-product-title-container {
    flex: 80%;
    padding: 10px 20px 15px 20px;
}

img {
    border: 1px solid #778899;
    width: 120px;
    height: 180px;
}

button[type=review],
button[type=buy-again] {
    background-color: #778899;
    color: #FFFAF3;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
}


/*Wish List Content Styles*/

.wishlist-item {
    display: flex;
    flex-wrap: wrap;
    flex: 100%;
    padding: 10px 20px 15px 20px;
    border: 2px solid #778899;
    border-radius: 5px;
    margin-bottom: 15px;
}

.wishlist-product-container {
    display: flex;
    flex-wrap: nowrap;
}

.wishlist-img-container {
    flex: auto;
}

.wishlist-title-container {
    flex: 80%;
    padding: 10px 20px 15px 20px;
}

button[type=buy-now],
button[type=add-to-cart],
button[type=remove] {
    background-color: #778899;
    color: #FFFAF3;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
}

span {
    float: right;
    color: black;
    padding-right: 5px;
}