/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 5, 2021, 10:23:52 AM
    Author     : Gyuseok
*/

body {
    /** font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5; **/
    font: 15px/1.5 'Nova Round', cursive;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.headerAndSearch {
    background: url('../img/bookStore.jpg') no-repeat center;
    background-size: cover;
}

.navbar {
    justify-content: center;
    display: flex;
    z-index: 999;
    margin-top: 0px;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
}

header {
    padding-top: 20px;
    min-height: 70px;
    max-height: 70px;
    background: rgba(44,29,15,0.7);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, rgba(154,132,120,0.7), rgba(44,29,15,0.7));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, rgba(154,132,120,0.7), rgba(44,29,15,0.7)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header nav li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
}

header ul {
    margin: 0.8%;
    padding: 0;
}

.navbar__item {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

.navbar__menu {
    margin-right: 200px;
}

.fa-shopping-cart {
    color: #ffffff;
}

.fa-shopping-cart:hover {
    color: #DFDFDF;
    transform: scale(1.075);
    transition: 0.1s in;
}

header #branding {
    margin-left: 150px;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    font-size: 30px;
}

header #branding :hover {
    color: #DFDFDF;
}

header #current a {
    color: #ffffff;
    font-weight: bold;
}

header a:hover {
    color: #ffffff;
    font-weight: bold;
}

@media screen and (max-width: 1200px) {
    .navbar__menu {
        margin-right: 100px;
    }
    
    header #branding {
        margin-left: 100px;
    }
}

@media screen and (max-width: 1100px) {
    .navbar__menu {
        margin-right: 20px;
    }
    
    header #branding {
        margin-left: 20px;
    }
}

@media screen and (max-width: 1000px) {
    
    .headerAndSearch {
        display: flex;
        z-index: 1;
    }
    
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
    
    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: auto;
        width: 100%;
        position: absolute;
        top: -1500px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }
    
    .navbar__menu.active {
        background: rgba(44,29,15,0.9);
        top: 0px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 100vh;
        font-size: 1.6rem;
    }
    
    #branding {
        padding-left: 10px;
        z-index: 100;
    }
    
    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }
    
    header {
        background: rgba(0,0,0,0);
    }
    
    header ul li {
        width: 100%;
    }
    
    header ul li a {
        text-align: center;
        padding:2rem;
        width: 100%;
        display: table;
    }
    
    #mobile-menu {
        position: absolute;
        top: 3%;
        right: 5%;
        transform: translate(5%, 20%);
        z-index: 100;
    }
    
    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }
    
    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

.searchBarArea {
    min-height: 700px;
}

.searchBarArea #aroundSearchBar {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(44,29,15,0.8);
    max-width: 550px;
    width: 100%;
    padding: 15px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
}

#searchBar {
    width: 82%;
    padding: 15px 20px;
    border: none;
    border-radius: 50px;
}

.searchbtn {
    background: #ffffff;
    width: 10%;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
}

.searchbtn .fas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate( -50%, -50%);
    font-size: 18px;
}

.bestSeller {
    background: #fdfcfc;
    padding-top: 10px;
}

.bestSeller h1 {
    color: #3f2a15;
    text-align: center;
}

.bestSeller__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    display: flex;
    gap: 1px;
}

.bestSellerGrid {
    margin: auto;
    margin-bottom: 50px;
    height: 410px;
    width: 320px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.3s ease-in;
}

.bestSellerGrid:nth-child(1) {
    background: url('../img/PracticalSQL.jpg') no-repeat center;
    background-size: cover;
}

.bestSellerGrid:nth-child(2) {
    background: url('../img/InformationArchitecture.jpg') no-repeat center;
    background-size: cover;
}

.bestSellerGrid:nth-child(3) {
    background: url('../img/JavaScript.JPG') no-repeat center;
    background-size: cover;
}

.bestSellerGrid:nth-child(4) {
    background: url('../img/WebPubHTML.JPG') no-repeat center;
    background-size: cover;
}

.bestSellerGrid:nth-child(5) {
    background: url('../img/DesigningWithJavaScript.jpg') no-repeat center;
    background-size: cover;
}

.bestSellerGrid:hover {
    cursor: pointer;
    transform: scale(1.075);
    transition: 0.3s ease-in;
}

footer {
    padding: 30px;
    background: #2c1d0f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #9a8478, #2c1d0f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #9a8478, #2c1d0f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #ffffff;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    color: #cccccc;
}

.footerNav {
    width: 500px;
    float: none;
    margin: 0 auto;
}

.footerNav li {
    display: inline-block;
    padding: 0 20px 0 20px;
}

footer p {
    color: #ffffff;
    text-align: center;
    float: none;
    font-weight: bold;
}