/*Tab Styles*/

.user-loging-signup-tab-container {
    flex: 25%;
    width: 25%;
    border: 2px solid lightslategray;
    border-radius: 5px;
    margin: auto;
    margin-top: 10px;
}

.login-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15;
}

.login-col-45 {
    flex: 45%;
}

.tabs {
    overflow: hidden;
    width: 100%;
    border-bottom: 1px solid #778899;
}

.tablinks {
    background-color: #778899;
    float: left;
    border: none;
    width: 50%;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

button.tablinks {
    color: #FFFAF3;
}

.tablinks:hover {
    background-color: #778899;
}

.tabContent {
    padding: 10px 20px 15px 20px;
    display: none;
}

#login {
    display: flex;
}


/*Form Contents*/

form {
    display: flex;
    flex-wrap: wrap;
}

label {
    width: 100%;
    display: block;
    font-size: 18px;
}

input[type=text],
input[type=password] {
    width: 100%;
    margin-bottom: 20px;
    padding: 5px;
    border: none;
    outline: none;
    border-bottom: 2px solid #778899;
}

#signup-fname,
#signup-lname {
    width: 85%;
}

#lname-custom-style-tag {
    margin-left: 15px;
}

button[type=form-submit],
button[type=cancle] {
    background-color: #778899;
    color: #FFFAF3;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    padding: 15px;
    width: 48%;
    border: none;
    border-radius: 5px;
}

button[type=form-submit]:hover,
button[type=cancle]:hover {
    background-color: gray;
}

span.psw {
    float: right;
    font-size: 12px;
}