.product-content-container {
    width: 90%;
    margin: auto;
    margin-top: 15px;
    height: 100vh;
}

.product-row {
    display: flex;
    flex-wrap: wrap;
}

.product-col-70 {
    flex: 70%;
}

.product-col-60 {
    flex: 60%;
}

.product-col-40 {
    flex: 40%;
}

.product-col-30 {
    flex: 30%;
}

/*Img properties*/
.product-img-container {
    display: flex;
    margin: 0px;
    justify-content: center;
}

img {
    max-width: 95%;
    height: auto;
}

/*Title and Description / Options*/

.product-BO-price, 
.product-avalibility, 
.product-BO-shop-options  {
    margin: 5px 5px 0px 5px;
}

.product-title-author-container h2, p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.product-rating-container  {
    margin-right: 5px;
    margin-left: 5px;
}

span.right-span {
    float: right;
}

.product-description-container {
    margin-left: 10px;
}

/*Product Buy Options*/
.product-avalibility {
    color: green;
}

.product-buy-options {
    width: 75%;
    min-height: 50vh;
    margin: auto;
    border: 2px solid #778899;
    border-radius: 5px;
}

input[type="number"] {
    width: 15%;
    margin-bottom: 10px;
    padding: 8px;
    outline: none;
    border: 2px solid lightslategray;
    border-radius: 5px;
  }

button[type=product-submit] {
    background-color: #778899;
    color: #FFFAF3;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    height: auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  /*Similar Items Container*/
.similar-item-container {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px 15px 20px;
    width: 70%;
    border: 2px solid #778899;
    border-radius: 5px;
}

.similar-item-container h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}

/*Review Container*/
.review-container {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px 15px 20px;
    width: 70%;
    border: 2px solid #778899;
    border-radius: 5px;
}

button[type=generate-review] {
    background-color: #778899;
    color: #FFFAF3;
    padding: 10px;
    width: 100%;
    height: auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}