/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 8, 2021, 8:27:56 PM
    Author     : Gyuseok
*/

body {
    /** font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5; **/
    font: 15px/1.5 'Nova Round', cursive;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.navbar {
    justify-content: center;
    display: flex;
    z-index: 999;
    margin-top: 0px;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
}

header {
    padding-top: 20px;
    min-height: 70px;
    max-height: 70px;
    background: rgb(44,29,15);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, rgb(154,132,120), rgb(44,29,15));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, rgb(154,132,120), rgb(44,29,15)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header nav li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
}

header ul {
    margin: 0.8%;
    padding: 0;
}

.navbar__item {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

.navbar__menu {
    margin-right: 200px;
}

.fa-shopping-cart {
    color: #ffffff;
}

.fa-shopping-cart:hover {
    color: #DFDFDF;
    transform: scale(1.075);
    transition: 0.1s in;
}

header #branding {
    margin-left: 150px;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    font-size: 30px;
}

header #branding :hover {
    color: #DFDFDF;
}

header #current a {
    color: #ffffff;
    font-weight: bold;
}

header a:hover {
    color: #ffffff;
    font-weight: bold;
}

@media screen and (max-width: 1200px) {
    .navbar__menu {
        margin-right: 100px;
    }
    
    header #branding {
        margin-left: 100px;
    }
}

@media screen and (max-width: 1100px) {
    .navbar__menu {
        margin-right: 20px;
    }
    
    header #branding {
        margin-left: 20px;
    }
}

@media screen and (max-width: 1000px) {
    
    header{
        display: flex;
        z-index: 1;
        background: rgb(44,29,15);
        background: -webkit-linear-gradient(to left, rgb(154,132,120), rgb(44,29,15));
        background: linear-gradient(to left, rgb(154,132,120), rgb(44,29,15));
    }
    
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
    
    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: auto;
        width: 100%;
        position: absolute;
        top: -1500px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }
    
    .navbar__menu.active {
        background: rgba(44,29,15,0.9);
        top: 0px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 100vh;
        font-size: 1.6rem;
    }
    
    #branding {
        padding-left: 10px;
        z-index: 100;
    }
    
    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }
    
    header ul li {
        width: 100%;
    }
    
    header ul li a {
        text-align: center;
        padding:2rem;
        width: 100%;
        display: table;
    }
    
    #mobile-menu {
        position: absolute;
        top: 22px;
        right: 5%;
        transform: translate(5%, 20%);
        z-index: 100;
    }
    
    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }
    
    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/** search bar area **/
.searchBarArea {
    background: rgb(44,29,15);
    background: -webkit-linear-gradient(to left, rgb(154,132,120), rgb(44,29,15));
    background: linear-gradient(to left, rgb(154,132,120), rgb(44,29,15));
    width: 100%;
    height: 40px;
    position: absolute;
    padding: 3px;
    display: flex;
    justify-content: space-between;
}

#searchBar {
    width: 90%;
    height: 5%;
    border-radius: 50px;
    padding: 15px 20px;
    border: none;
    margin: auto 140px;
}

.searchbtn {
    background: #ffffff;
    width: 5%;
    height: 32px;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    margin-right: 220px;
    margin-left: -136px;
    margin-top: 4px;
}

.searchbtn .fas {
    position: relative;
    top: 50%;
    left: 50%;
    transform:  translate( -50%, -50%);
    font-size: 18px;
}

/** Sign Up area **/
.signUpsection {
    background: #ffffff;
}

.centerBox {
    position: absolute;
    top: 61%;
    left: 50%;
    transform:  translate(-50%, -50%);
    width: 650px;
    height: 830px;
    border: 2px solid #2c1d0f;
    border-radius: 10px;
    background: #ffffff;
}

.centerBox h2 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 2px solid #2c1d0f;
    color: #9a8478;
}

.form {
    padding: 0px 40px;
    box-sizing: border-box;
}

.signUpform-control {
    position: relative;
    padding-bottom: 18px;
}

.signUpform-control label {
    display: inline-block;
    margin-bottom: 2px;
}

.signUpform-control .required {
    color: #888888;
    font-size: 12px;
    margin-left: 8px;
}

.signUpform-control .info {
    border: 2px solid #9a8478;
    border-radius: 10px;
    display: block;
    font-size: 14px;
    padding: 7px;
    width: 97%;
}

.signUpform-control.success .info {
    border-color: #3C5BA7;
}

.signUpform-control.error .info {
    border-color: #e74c3c;
}

#address {
    display: flow-root;
}

.userCityStateZip {
    display: grid;
    gird-template-columns: 1fr 1fr 1fr 1fr;
}

#userCity {
    grid-column: 1.1 / 4;
    grid-row: 2;
}

#city {
    grid-column: 1.1 / 4;
    grid-row: 1;
}

#userState {
    grid-column: 2.1 / 4;
    grid-row: 2;
}

#state {
    grid-column: 2.1 / 4;
    grid-row: 1;
}

#userZip {
    grid-column: 3.1 / 4;
    grid-row: 2;
}

#zip {
    grid-column: 3.1 / 4;
    grid-row: 1;
}

#userCountry {
    grid-column: 4.1 / 4;
    grid-row: 2;
}

#country {
    grid-column: 4.1 / 4;
    grid-row: 1;
}

.userAddress2 {
    border: 2px solid #9a8478;
    border-radius: 10px;
    font-size: 14px;
    padding: 7px;
    width: 85%;
}

.signUpform-control i {
    visibility: hidden;
    position: absolute;
    top: 33px;
    right: 10px;
}

.signUpform-control.success i.fa-check-circle {
    visibility: visible;
    color: #3C5BA7;
}

.signUpform-control.error i.fa-exclamation-circle {
    visibility: visible;
    color: #e74c3c;
}

.signUpform-control small {
    visibility: hidden;
    position: absolute;
    bottom: 2px;
    left: 3px;
    font-size: 10px;
}

.signUpform-control.error small {
    color: #e74c3c;
    visibility: visible;
}

input[type="submit"] {
    width: 100%;
    height: 40px;
    border: 1px solid;
    background: #9a8478;
    border-radius: 10px;
    font-size: 17px;
    color: #e9f4fb;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover {
    border-color: #9a8478;
    transition: .5s;
}

/** footer **/
footer {
    padding: 30px;
    background: #2c1d0f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #9a8478, #2c1d0f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #9a8478, #2c1d0f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #ffffff;
    position: absolute;
    bottom: -200px;
    width: 100%;
    height: 60px;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    color: #cccccc;
}

.footerNav {
    width: 500px;
    float: none;
    margin: auto;
}

.footerNav li {
    display: inline-block;
    padding: 0 20px 0 20px;
}

footer p {
    color: #ffffff;
    text-align: center;
    float: none;
    font-weight: bold;
}