/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 11, 2021, 2:35:17 PM
    Author     : Gyuseok
*/

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

header {
    padding-top: 20px;
    min-height: 70px;
    max-height: 70px;
    background: rgba(0,0,0,0.7);  /* fallback for old browsers */
}

.navbar {
    justify-content: center;
    display: flex;
    z-index: 999;
    margin-top: 0px;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
}

.navbar__home {
    display: inline;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 150px;
    color: #ffffff;
    cursor: pointer;
    font-size: 20px;
}

header nav li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
}

header ul {
    margin: 0.8%;
    padding: 0;
}

.navbar__item {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

.navbar__menu {
    margin-right: 200px;
}