.active-cart-page-container {
  margin: auto;
  margin-top: 10px;
  width: 90%;
  min-height: 100vh;
}

#active-cart-row-first {
  flex-wrap: nowrap;
}

.active-cart-row,
.wishlist-row {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.active-cart-col-70 {
  flex: 70%;
  width: 70%;
}

.active-cart-col-60 {
  flex: 60%;
}

.active-cart-col-25 {
  flex: 25%;
}

.active-cart-col-20 {
  flex: 20%;
}

.active-cart-col-20,
.active-cart-col-25,
.active-cart-col-60,
.active-cart-col-70,
.active-cart-col-80 {
  padding: 0px 16px;
}

.active-cart-container,
.subtotal-container,
.wishlist-container {
  margin-bottom: 15px;
  padding: 5px 20px 15px 20px;
  border-radius: 0.2em;
  box-shadow: rgb(0 0 0 / 19%) 0px 10px 20px, rgb(0 0 0 / 23%) 0px 6px 6px;
}

.subtotal-container-btn {
  background-color: #778899;
  margin-bottom: 1em;
  padding: 1em;
  border: none;
  width: 100%;
  border-radius: 0.2em;
  cursor: pointer;
  color: #fffaf3;
  font-weight: bold;
}

.subtotal-container a {
  text-decoration: none;
}

.subtotal-container-btn,
.subtotal-container-btn:after,
.subtotal-container-btn:before {
  transition: all 0.5s;
}

.subtotal-container-btn:hover {
  background-color: #b09979;
}

.cart-col-20 button,
.cart-col-20 button:after,
.cart-col-20 button:before {
  transition: all 0.5s;
}

.cart-col-20 button:hover {
  background-color: #b09979;
}

span.cart-subtotal {
  float: right;
  color: black;
}

.active-cart-page-container hr {
  background-color: #ecd5b3;
  border-color: #ecd5b3;
  border-style: ridge;
}

/*Cart Item Content Styles*/

.cart-col-60 {
  flex: 60%;
}

.cart-col-20 {
  flex: 20%;
}

.active-items-list {
  display: block;
  width: 100%;
}

.cart-item {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  padding: 10px 20px 5px 20px;
  margin-bottom: 0.5em;
}

.cart-product-container {
  display: flex;
  flex-wrap: nowrap;
}

.cart-item-img-container {
  flex: auto;
}

.cart-item-title-container {
  flex: 80%;
  padding: 15px 20px;
  padding-top: 0;
}

.cart-item-title-container p {
  font-size: min(1.1vw, 1em);
  text-align: justify;
}

.cart-col-20 p {
  margin: 0;
}

.cart-item label {
  font-weight: bold;
  font-size: 1em;
}

button[type="form-update"] {
  background-color: #778899;
  color: #fffaf3;
  margin-top: 10px;
  padding: 10px;
  width: 80%;
  border: none;
  border-radius: 0.2em;
  cursor: pointer;
}

button[type="form-remove"] {
  background-color: #778899;
  color: #fffaf3;
  margin-top: 10px;
  padding: 10px;
  width: 80%;
  border: none;
  border-radius: 0.2em;
  cursor: pointer;
}

#item-qty {
	width: 76%;
}

.cart-item img {
  border: 1px solid #778899;
  width: 100px;
  height: 140px;
}

.empty-cart {
	display: grid;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}

.empty-cart img {
	margin: auto;
	margin-bottom: 50px;
	border: none;
	max-height: 100px;
}

.empty-cart span {
	margin: auto;
	font-weight: bold;
	font-size: 18px;
}

/* WishList Items Carousel and Item Card Styles */
.wishlist-container {
  max-width: 100%;
  border-radius: 0.2em;
  margin-bottom: 15px;
  padding: 5px 20px 15px 20px;
}

.carousel-container {
  min-width: 95%;
  max-width: 96%;
  min-height: 270px;
  position: relative;
}

.carousel-inner {
  overflow: hidden;
}

.carousel-container .carousel-track {
  display: flex;
  transition: 0.4s;
}

.carousel-container .carousel-card {
  width: 15%;
  min-width: 200px;
  flex-shrink: 0;
  min-height: 270px;
  margin: 0px 5px 0px 5px;
}


.carousel-nav button {
  width: 50px;
  height: 100%;
  background: transparent;
  position: absolute;
  border: none;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.carousel-nav button:hover {
  background-color: linear-gradient(to right, white , #fffaf3);
  opacity: 50%;
  color: black;
  font-size: 23px;
}

.carousel-nav .prev {
  left: 5px;
}

.carousel-nav .next {
  right: -1px;
}

.carousel-card a {
  text-decoration: none;
  color: black;
}

.carousel-img {
  width: 85%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

.carousel-txt {
  text-align: center;
}

.empty-wishlist {
	display: grid;
	text-align: center;
	margin: auto;
}

.empty-wishlist img {
	margin: auto;
	margin-top: 40px;
	margin-bottom: 30px;
	border: none;
	max-height: 100px;
	width: 100px;
}

.empty-wishlist span {
	margin-bottom: 50px;
	font-weight: bold;
	font-size: 18px;
}

/* Mobile Styles */
@media all and (max-width: 950px) {
  /* Container Styles */
  #active-cart-row-first {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    min-width: 340px;
  }

  .active-cart-col-25 {
    flex: 100%
  }

  .active-cart-col-70 {
    flex: 100%;
    width: 100%;
  }

  /* Cart Item Styles */
  .cart-item-title-container p {
    font-size: max(1.7vw, 10px);
  }

}

@media all and (max-width: 725px) {
  .cart-item-title-container p {
    display: none;
  }

  #quantity {
    order: 3;
    flex: 100%;
    text-align: justify;
  }

  button[type="form-update"] {
    width: 45%;
  }
  
  button[type="form-remove"] {
    width: 45%;
    float: right;
  }

  .cart-item img {
    width: 80px;
    height: 120px;
  }

  #item-qty {
    width: 45%;
  }
}