body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #778899;
  min-height: 100vh;
}

.center .search-bar {
  text-align: center;
  opacity: 0;
  pointer-events: none;
}

.center .search-barShow {
  opacity: 1;
  pointer-events: initial;
}

/* center area */
.centerArea {
  min-height: 100vh;
}

.centerArea .slideShow-img {
  z-index: -1;
  position: absolute;
  top: auto;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 3s ease-in-out;
  object-fit: cover;
}

.centerArea .boogleAndSearch-bar {
  padding-top: 20vh;
}

.centerArea #boogleText {
  font-family: "Source Code Pro", monospace;
  color: #ecd5b3;
  text-align: center;
  font-size: 5em;
  letter-spacing: 0.2em;
  /* text-shadow: 10px 10px 10px #778899; */
}

#blink {
  animation: blinkingText 1.2s infinite;
}

@keyframes blinkingText {
  0% {
    opacity: 100%;
  }
  49% {
    opacity: 100%;
  }
  60% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.centerSearch-bar {
  text-align: center;
}

.centerSearch-bar input[type="search" i] {
  width: 40%;
}

.centerSearch-bar input,
.centerSearch-bar button {
  border: 0;
  border-radius: 0.4em;
  color: #778899;
  background-color: #fffaf3;
  font-size: 1em;
  appearance: none;
  padding: 10px;
}

.centerSearch-bar input,
.centerSearch-bar button,
.centerSearch-bar input:after,
.centerSearch-bar button:after,
.centerSearch-bar input:before,
.centerSearch-bar button:before {
  transition: all 0.5s;
}

.centerSearch-bar input:hover,
.centerSearch-bar button:hover {
  background-color: #fff0db;
}

.centerSearch-bar button:hover {
  padding: 10px 15px;
}

.centerSearch-bar input:focus {
  outline: 0;
  width: 45%;
}

/* bestSellerArea */
.bestSellerArea {
  background: white;
  padding-top: 10px;
  padding-bottom: 50px;
}

.bestSellerArea h2 {
  color: #000;
  text-align: center;
}

.bestSeller__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  display: flex;
  position: static;
  justify-content: center;
}

.bestSellerGrid {
  margin: auto;
  margin-bottom: 0;
  height: 410px;
  width: 320px;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease-in;
}

.bestSellerGrid img {
  border: solid #778899;
  border-radius: 0.2em;
  width: 250px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  transition: 0.3s ease-in;
}

.bestSellerGrid h3 {
  text-align: center;
  width: 320px;
  height: 44px;
  margin-top: 15px;
}

.bestSellerGrid p {
  text-align: center;
  margin-top: -15px;
}

.bestSellerGrid img:hover {
  border: solid #ecd5b3;
  cursor: pointer;
  box-shadow: rgb(0 0 0 / 19%) 0px 10px 20px, rgb(0 0 0 / 23%) 0px 6px 6px;
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 1630px) {
  .bestSeller__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
  }

  .bestSellerGrid {
    width: 250px;
  }

  .bestSellerGrid img {
    width: 220px;
  }

  .bestSellerGrid h3 {
    font-size: 95%;
    width: 250px;
  }
}

@media screen and (max-width: 1300px) {
  .bestSeller__wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }

  .bestSellerGrid {
    width: 320px;
  }

  .bestSellerGrid img {
    width: 250px;
  }

  .bestSellerGrid img {
    width: 250px;
  }

  .bestSellerGrid h3 {
    text-align: center;
    font-size: 120%;
    width: 320px;
  }
}

@media screen and (max-width: 960px) {
  .bestSeller__wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}

@media screen and (max-width: 640px) {
  .centerArea #boogleText {
    font-size: 3em;
  }

  .bestSeller__wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
