.product-content-container {
  width: 90%;
  margin: auto;
  margin-top: 15px;
  min-height: 100vh;
}

.product-row {
  display: flex;
  flex-wrap: wrap;
}

.product-col-70 {
  flex: 70%;
}

.product-col-60 {
  flex: 60%;
}

.product-col-40 {
  flex: 40%;
}

.product-col-30 {
  flex: 30%;
}

/*Img properties*/
.product-img-container {
  display: flex;
  margin: 0px;
  justify-content: center;
}

img {
  max-width: 95%;
  height: auto;
  border-radius: 0.2em;
  box-shadow: rgb(0 0 0 / 19%) 0px 10px 20px, rgb(0 0 0 / 23%) 0px 6px 6px;
}

/*Title and Description / Options*/

.product-BO-price,
.product-avalibility,
.product-BO-shop-options {
  margin: 5px 5px 0px 5px;
}

.product-title-author-container h2,
p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.product-rating-container {
  margin-right: 5px;
  margin-left: 5px;
}

span.right-span {
  float: right;
}

.product-description-container {
  margin-left: 10px;
}

/*Product Buy Options*/
.product-avalibility {
  color: green;
}

.product-buy-options {
  width: 75%;
  min-height: auto;
  margin: auto;
  border: 2px solid #778899;
  border-radius: 0.2em;
  box-shadow: rgb(0 0 0 / 19%) 0px 10px 20px, rgb(0 0 0 / 23%) 0px 6px 6px;
}

input[type="number"] {
  width: 15%;
  margin-bottom: 10px;
  padding: 8px;
  outline: none;
  border: 2px solid lightslategray;
  border-radius: 0.2em;
}

input[type="number"]:focus {
  border-color: #ecd5b3;
  transition: 0.3s;
}

button[type="product-submit"] {
  background-color: #778899;
  color: #fffaf3;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  height: auto;
  border: none;
  border-radius: 0.2em;
  cursor: pointer;
}
/*Similar Items Container*/
.similar-item-container {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 20px 15px 20px;
  width: 70%;
  border: 2px solid #778899;
  border-radius: 0.2em;
  box-shadow: rgb(0 0 0 / 19%) 0px 10px 20px, rgb(0 0 0 / 23%) 0px 6px 6px;
}

.similar-item-container h2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.similar-item-slideshow img {
	width: 150px;
	height: 200px;
}

/*Review Container*/
.review-container {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 20px 15px 20px;
  width: 70%;
  border: 2px solid #778899;
  border-radius: 0.2em;
  box-shadow: rgb(0 0 0 / 19%) 0px 10px 20px, rgb(0 0 0 / 23%) 0px 6px 6px;
}

button[type="generate-review"] {
  background-color: #778899;
  color: #fffaf3;
  padding: 10px;
  width: 100%;
  height: auto;
  border: none;
  border-radius: 0.2em;
  cursor: pointer;
}

/*Review Modal Form*/
.review-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.form-modal-review {
  background-color: #fefefe;
  border: 2px solid #778899;
  border-radius: 0.2em;
  margin: 5% auto 15% auto;
  width: 40%;
  height: auto;
}

.review-modal-row {
  display: flex;
  flex-wrap: wrap;
}

.modal-close {
  display: flex;
  flex-wrap: none;
  width: 100%;
  justify-content: right;
}

span.close {
  color: #000;
  padding-right: 10px;
  font-size: 35px;
  font-weight: bold;
}

.animate {
  animation: animatezoom 0.6s;
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.review-modal-content {
  padding: 10px;
  width: 95%;
}

.review-modal-content hr {
  width: 100%;
  margin: 5 auto 0 auto;
}

.star-rating-container {
  display: flex;
  justify-content: center;
  margin: auto;
}

.star-rating-container i {
  padding: 0px 10px 0px 10px;
  font-size: 25px;
}

input[type="customer-review-title"] {
  width: 25%;
  margin-bottom: 10px;
  padding: 8px;
  outline: none;
  border: 2px solid lightslategray;
  border-radius: 0.2em;
}

textarea[type="customer-review-description"] {
  display: flex;
  width: 95%;
  height: 100px;
  margin-bottom: 10px;
  margin-right: 8px;
  padding: 8px;
  outline: none;
  border: 2px solid lightslategray;
  border-radius: 0.2em;
  resize: none;
}

button[type="customer-review-submit"] {
  float: right;
  background-color: #778899;
  color: #fffaf3;
  padding: 10px;
  width: auto;
  height: auto;
  border: none;
  border-radius: 0.2em;
  cursor: pointer;
}

/* Button Styles */
.product-content-container button {
  font-weight: bold;
}

.product-content-container button,
.product-content-container button:after,
.product-content-container button:before {
  transition: 0.3s;
}

.product-content-container button:hover {
  background-color: #b09979;
}

.product-content-container hr {
  background-color: #ecd5b3;
  border-color: #ecd5b3;
  border-style: ridge;
}

/* Social Media Styles */
.product-BO-shareItem {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 90%;
  margin: auto;
  margin-bottom: 1em;
}

.product-BO-shareItem p {
  flex: 100%;
}

.product-BO-shareItem a {
  color: #778899;
  font-size: 1.5em;
  padding: 0.5em 0;
}

.product-BO-shareItem a,
.product-BO-shareItem a:after,
.product-BO-shareItem a:before {
  transition: all 0.5s;
}

.product-BO-shareItem a:hover {
  color: #ecd5b3;
}
