<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="css/nav.css" />
    <link rel="stylesheet" href="css/account.css" />
    <link rel="stylesheet" href="css/footer.css" />

    <script src="js/nav.js" defer></script>
    <script src="js/accounts.js" defer></script>
    <script
      src="https://kit.fontawesome.com/91c05e75f9.js"
      crossorigin="anonymous"
    ></script>

    <title>Account | Boogle.com</title>
  </head>

  <body>
    <!--Navigation Header-->
    <header>
      <div class="nav-container">
        <div class="logo">
          <a th:href="@{/home}"><i class="fas fa-book-reader"></i></a>
          <div class="nav-toggle" id="navToggle">
            <i class="fas fa-bars"></i>
            <i class="fas fa-times nav-hidden"></i>
          </div>
        </div>

        <!-- add the "current" id to the li element of the active page -->
        <nav>
          <div class="left">
            <ul>
              <li><a th:href="@{/home}">Home</a></li>
              <li><a th:href="@{/aboutUs}">About Us</a></li>
              <li><a th:href="@{/books}">Books</a></li>
            </ul>
          </div>

          <div class="center">
            <form th:action="@{/search}" method="get" class="search-bar">
              <input type="search" name="keyword" placeholder="Search..." />
              <button type="submit">
                <i class="fas fa-search"></i>
              </button>
            </form>
          </div>

          <div class="right">
            <ul>
              <li class="button">
                <a th:href="@{/cart}">
                  <i class="fa fa-shopping-cart"></i> Cart
                  <div class="cart-num">
                    <p>[[${shoppingCart.getTotalItemsNumber}]]</p>
                  </div>
                </a>
              </li>
              <li>
                <div
                  sec:authorize="!isAuthenticated()"
                  style="display: inline-block"
                >
                  <a th:href="@{/login}">Sign in</a>
                </div>
                <div
                  sec:authorize="isAuthenticated()"
                  style="display: inline-block"
                >
                  <form
                    id="signout"
                    th:action="@{/logout}"
                    method="post"
                    style="width: 100px; height: 41"
                  >
                    <a
                      href="javascript:;"
                      onclick="document.getElementById('signout').submit();"
                      >Sign Out</a
                    >
                  </form>
                </div>
              </li>
              <li id="current"><a th:href="@{/account}">Account</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </header>

    <!--Account Body-->
    <div class="account-content-tab-container">
      <div class="account-row">
        <div class="tabs">
          <button
            th:class="${activeTab} ? 'tablinks' : 'tablinks active'"
            th:id="${activeTab} ? '' : 'active'"
            onClick="openForm(event, 'login-and-security')"
          >
            Login and Security
          </button>
          <button
            th:class="${activeTab == 2} ? 'tablinks active' : 'tablinks'"
            th:id="${activeTab == 2} ? 'active'"
            onClick="openForm(event, 'orders')"
          >
            Orders
          </button>
          <button
            th:class="${activeTab == 3} ? 'tablinks active' : 'tablinks'"
            th:id="${activeTab == 3} ? 'active'"
            onClick="openForm(event, 'payment-options')"
          >
            Payment Options
          </button>
          <button
            th:class="${activeTab == 4} ? 'tablinks active' : 'tablinks'"
            th:id="${activeTab == 4} ? 'active'"
            onClick="openForm(event, 'wishlist')"
          >
            Wish List
          </button>
        </div>
      </div>

      <!-- Login and Security -->
      <div
        id="login-and-security"
        class="tabContent"
        th:style="${activeTab} ? 'display: none;' : 'display: block;'"
      >
        <div class="account-row">
          <!-- Name Item -->
          <div class="LaS-item">
            <!-- Name Display -->
            <div class="account-col-80">
              <label for="LaS-name-lbl">Name</label>
              <lable for="LaS-name-display"
                ><p>[[${#request.userPrincipal.principal.fullname}]]</p>
              </lable>
            </div>
            <div class="account-col-20">
              <button
                type="form-edit"
                class="account-btn-edit"
                id="name-edit-btn"
                onclick="onNameEditButtonClick()"
              >
                Edit
              </button>
            </div>

            <!-- Edit Name Form -->
            <form
              class="edit-form"
              th:action="@{/account/changeName}"
              method="POST"
            >
              <div class="account-col-80">
                <div class="form-control-hide" id="edit-name-first">
                  <p class="hide" id="edit-name-label">Enter the new Name</p>
                  <input
                    class="edit-name-first"
                    type="text"
                    name="firstName"
                    placeholder="John"
                  />
                  <i class="fas fa-check-circle"></i>
                  <i class="fas fa-exclamation-circle"></i>
                  <small>Error message</small>
                </div>
                <div class="form-control-hide" id="edit-name-last">
                  <input
                    class="edit-name-last"
                    type="text"
                    name="lastName"
                    placeholder="Doe"
                  />
                  <i class="fas fa-check-circle"></i>
                  <i class="fas fa-exclamation-circle"></i>
                  <small>Error message</small>
                </div>
              </div>
              <div class="account-col-20">
                <button
                  class="hide"
                  id="edit-name-button"
                  type="form-edit"
                  onclick="return checkNameInputs()"
                >
                  Save
                </button>
              </div>
            </form>
          </div>

          <!-- Email Item -->
          <div class="LaS-item">
            <!-- Email Display -->
            <div class="account-col-80">
              <label for="LaS-email-lbl">Email</label>
              <lable for="LaS-email-display">
                <p>[[${#request.userPrincipal.principal.username}]]</p>
              </lable>
            </div>
            <div class="account-col-20">
              <button
                type="form-edit"
                class="account-btn-edit"
                id="email-edit-btn"
                onclick="onEmailEditButtonClick()"
              >
                Edit
              </button>
            </div>

            <!-- Edit Email Form -->
            <form
              class="edit-form"
              th:action="@{/account/changeEmail}"
              method="POST"
            >
              <div class="account-col-80">
                <div class="form-control-hide" id="edit-email">
                  <p class="hide" id="edit-email-label">Enter the new Email</p>
                  <input
                    class="edit-email"
                    type="text"
                    name="email"
                    placeholder="johndoe@example.com"
                  />
                  <i class="fas fa-check-circle"></i>
                  <i class="fas fa-exclamation-circle"></i>
                  <small>Error message</small>
                </div>
              </div>
              <div class="account-col-20">
                <button
                  class="form-control-hide"
                  id="edit-email-button"
                  type="form-edit"
                  onclick="return checkEmailInputs()"
                >
                  Save
                </button>
              </div>
            </form>
          </div>

          <!-- Phone Edit -->
          <div class="LaS-item">
            <!-- Phone Display -->
            <div class="account-col-80">
              <label for="LaS-phone-lbl">Phone</label>
              <lable for="LaS-phone-display">
                <p th:if="${user.userInfo.phone != null}">
                  [[${user.userInfo.phone}]]
                </p>
              </lable>
            </div>
            <div class="account-col-20">
              <button
                type="form-edit"
                class="account-btn-edit"
                id="phone-edit-btn"
                onclick="onPhoneEditButtonClick()"
              >
                Edit
              </button>
            </div>

            <!-- Edit Phone Form -->
            <form
              class="edit-form"
              th:action="@{/account/changePhoneNumber}"
              method="POST"
            >
              <div class="account-col-80">
                <div class="form-control-hide" id="edit-phone">
                  <p class="edit-phone-label">Enter the new phone number</p>
                  <input
                    class="edit-phone"
                    type="text"
                    name="phone"
                    placeholder="(123)-456-7890"
                    maxlength="12"
                  />
                  <i class="fas fa-check-circle"></i>
                  <i class="fas fa-exclamation-circle"></i>
                  <small>Error message</small>
                </div>
              </div>
              <div class="account-col-20">
                <button
                  class="form-control-hide"
                  id="edit-phone-button"
                  type="form-edit"
                  onclick="return checkPhoneInputs()"
                >
                  Save
                </button>
              </div>
            </form>
          </div>

          <!-- Password Edit -->
          <div class="LaS-item">
            <!-- Password Display -->
            <div class="account-col-80">
              <label for="LaS-password-lbl">Password</label>
              <lable for="LaS-password-display"><p>**********</p></lable>
            </div>
            <div class="account-col-20">
              <button
                type="form-edit"
                class="account-btn-edit"
                id="password-edit-btn"
                onclick="onPasswordEditButtonClick()"
              >
                Edit
              </button>
            </div>

            <!-- Edit Password Form -->
            <form
              class="edit-form"
              th:action="@{/account/changePassword}"
              method="POST"
            >
              <div class="account-col-80">
                <div class="form-control-hide" id="edit-password">
                  <p class="hide" id="edit-password-label">
                    Enter the new Password
                  </p>
                  <input
                    class="edit-password"
                    type="password"
                    name="password"
                    placeholder="Enter your new password"
                  />
                  <i class="fas fa-check-circle"></i>
                  <i class="fas fa-exclamation-circle"></i>
                  <small>Error message</small>
                </div>
                <div class="form-control-hide" id="edit-repeat-password">
                  <input
                    class="edit-repeat-password"
                    type="password"
                    placeholder="Re-enter your new password"
                  />
                  <i class="fas fa-check-circle"></i>
                  <i class="fas fa-exclamation-circle"></i>
                  <small>Error message</small>
                </div>
              </div>
              <div class="account-col-20">
                <button
                  class="form-control-hide"
                  id="edit-password-button"
                  type="form-edit"
                  onclick="return checkPasswordInputs()"
                >
                  Save
                </button>
              </div>
            </form>
          </div>

          <!-- Address Edit -->
          <div class="LaS-item">
            <!-- Address Display -->
            <div class="account-col-80">
              <label for="LaS-address-lbl">Address</label>
              <lable for="LaS-address-display" style="display: block">
                <p th:if="${user.userInfo.street != null}">
                  [[${user.userDetailsTable.street}]]
                </p>
                <p th:if="${user.userInfo.apt != null}">
                  [[${user.userDetailsTable.apt}]]
                </p>
              </lable>
              <lable for="LaS-address-display" style="display: block">
                <p th:if="${user.userInfo.city != null}">
                  [[${user.userDetailsTable.city}]],
                </p>
                <p th:if="${user.userInfo.state != null}">
                  [[${user.userDetailsTable.state}]]
                </p>
              </lable>
              <lable for="LaS-address-display">
                <p th:if="${user.userInfo.zip != null}">
                  [[${user.userDetailsTable.zip}]]
                </p>
              </lable>
            </div>
            <div class="account-col-20">
              <button
                type="form-edit"
                class="account-btn-edit"
                id="address-edit-btn"
                onclick="onAddressEditButtonClick()"
              >
                Edit
              </button>
            </div>

            <!-- Edit Address Form -->
            <form
              class="edit-form"
              th:action="@{/account/changeAddress}"
              method="POST"
            >
              <div class="account-col-80">
                <div class="form-control-hide" id="edit-address-street">
                  <p class="hide" id="edit-address-label">
                    Enter the new Address
                  </p>
                  <input
                    class="edit-address-street"
                    type="text"
                    name="address-street"
                    placeholder="1 Madeup Ln"
                  />
                  <i class="fas fa-check-circle"></i>
                  <i class="fas fa-exclamation-circle"></i>
                  <small>Error message</small>
                </div>
                <div class="form-control-hide" id="edit-address-apt">
                  <input
                    class="edit-address-apt"
                    type="text"
                    name="address-apt"
                    placeholder="Apt."
                  />
                  <i class="fas fa-check-circle"></i>
                  <i class="fas fa-exclamation-circle"></i>
                  <small>Error message</small>
                </div>
                <div class="form-control-hide" id="edit-address-city">
                  <input
                    class="edit-address-city"
                    type="text"
                    name="address-city"
                    placeholder="New York City"
                  />
                  <i class="fas fa-check-circle"></i>
                  <i class="fas fa-exclamation-circle"></i>
                  <small>Error message</small>
                </div>
                <div class="form-control-hide" id="edit-address-state">
                  <input
                    class="edit-address-state"
                    type="text"
                    name="address-state"
                    placeholder="New York"
                  />
                  <i class="fas fa-check-circle"></i>
                  <i class="fas fa-exclamation-circle"></i>
                  <small>Error message</small>
                </div>
                <div class="form-control-hide" id="edit-address-zip">
                  <input
                    class="edit-address-zip"
                    type="text"
                    name="address-zip"
                    placeholder="10001"
                  />
                  <i class="fas fa-check-circle"></i>
                  <i class="fas fa-exclamation-circle"></i>
                  <small>Error message</small>
                </div>
              </div>
              <div class="account-col-20">
                <button
                  class="hide"
                  id="edit-address-btn"
                  type="form-edit"
                  onclick="return checkAddressInputs()"
                >
                  Save
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Orders Tab -->
      <div
        id="orders"
        class="tabContent"
        th:style="${activeTab == 2} ? 'display: block;' : 'display: none;'"
      >
        <form action="" method="get">
          <div class="empty-orderlist" th:if="${orderList.empty}">
            <img src="img/empty.png" />
            <span th:text="'You have not placed any orders yet.'"></span>
          </div>
          <div class="account-row">
            <!--Orders item Template-->
            <div th:if="${orderList}">
              <div class="order-item" th:each="orderList : ${orderList}">
                <div class="account-row">
                  <span class="order-number"
                    >Order Number # [[${orderList.orderId}]]</span
                  >
                  <div class="account-col-wrapper">
                    <div class="account-col-60">
                      <div
                        class="order-product-container"
                        th:each="orderItemList : ${orderList.orderItemList}"
                      >
                        <div class="order-product-img-container">
                          <img th:src="${orderItemList.book.image}" alt="" />
                        </div>
                        <div class="order-product-title-container">
                          <label>[[${orderItemList.book.alias}]]</label>
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="account-col-20">
                      <div class="order-item-pricing">
                        <label>Total</label>
                        <p>$[[${orderList.orderTotal}]]</p>
                        <label>Order Placed</label>
                        <p>[[${orderList.orderDate}]]</p>
                        <label>Order Delivered</label>
                        <p>[[${orderList.shippingDate}]]</p>
                      </div>
                    </div>
                    <div class="account-col-20">
                      <button type="form-review">Write a Review</button>
                      <button type="form-buy-again">Buy it Again</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--End-->
          </div>
        </form>
      </div>

      <div
        id="payment-options"
        class="tabContent"
        th:style="${activeTab == 3} ? 'display: block;' : 'display: none;'"
      >
        <div class="account-row">
          <h1>Wallet</h1>
        </div>
        <hr />
        <div class="payment-tab-container">
          <div class="account-col-20">
            <div class="payment-tabs">
              <div
                id="payment-option-button-container"
                th:each="card, cardStat : ${card}"
              >
                <img
                  id="bookmark"
                  th:if="${card.defaultCard}"
                  src="img/bookmarkicon.jpg"
                />
                <button
                  class="form-paymentTablinks"
                  th:onClick="openPaymentForm(event, 'payment-option-[[${cardStat.count}]]')"
                >
                  [[${card.paymentOptionName}]]
                </button>
              </div>
              <div id="add-payment-option-button-container">
                <button
                  class="form-paymentTablinks"
                  onClick="openPaymentForm(event, 'add-payment-option')"
                >
                  Add Payment Option
                </button>
              </div>
            </div>
          </div>

          <div class="account-col-80">
            <!--Payment Option Template-->
            <div class="template-card">
              <div th:each="card, cardStat : ${card}">
                <div
                  th:id="'payment-option-' + ${cardStat.count}"
                  class="paymentTabContent"
                >
                  <div class="card-container">
                    <div class="front">
                      <div class="cardImage">
                        <img src="img/chip.png" />
                        <!-- American Express Identification Numbers -->
                        <img
                          th:if="${#strings.substring(card.cardNumber, 0, 2)} == '34' 
	                                        	OR ${#strings.substring(card.cardNumber, 0, 2)} == '37'"
                          src="img/american-express.png"
                        />
                        <!-- Visa Identification Numbers -->
                        <img
                          id="issuer"
                          th:if="${#strings.substring(card.cardNumber, 0, 1)} == '4'"
                          src="img/visa.png"
                        />
                        <!-- Mastercard Identification Numbers -->
                        <img
                          id="issuer"
                          th:if="${#strings.substring(card.cardNumber, 0, 4)} > '2220' 
	                                        	AND ${#strings.substring(card.cardNumber, 0, 4)} < '2721'"
                          src="img/mastercard.png"
                        />
                        <img
                          id="issuer"
                          th:if="${#strings.substring(card.cardNumber, 0, 2)} > '50' 
	                                        	AND ${#strings.substring(card.cardNumber, 0, 2)} < '56'"
                          src="img/mastercard.png"
                        />
                        <!-- Discover Identification Numbers -->
                        <img
                          id="issuer"
                          th:if="${#strings.substring(card.cardNumber, 0, 4)} == '6011'"
                          src="img/discover.png"
                        />
                        <img
                          id="issuer"
                          th:if="${#strings.substring(card.cardNumber, 0, 2)} > '63' 
	                                        	AND ${#strings.substring(card.cardNumber, 0, 2)} < '66'"
                          src="img/discover.png"
                        />
                        <img
                          id="issuer"
                          th:if="${#strings.substring(card.cardNumber, 0, 6)} > '622125' 
	                                        	AND ${#strings.substring(card.cardNumber, 0, 6)} < '622926'"
                          src="img/discover.png"
                        />
                        <img
                          id="issuer"
                          th:if="${#strings.substring(card.cardNumber, 0, 6)} > '623999' 
	                                        	AND ${#strings.substring(card.cardNumber, 0, 6)} < '627000'"
                          src="img/discover.png"
                        />
                        <img
                          id="issuer"
                          th:if="${#strings.substring(card.cardNumber, 0, 6)} > '628199' 
	                                        	AND ${#strings.substring(card.cardNumber, 0, 6)} < '628900'"
                          src="img/discover.png"
                        />
                        <img
                          id="bookmark"
                          th:if="${card.defaultCard}"
                          src="img/bookmarkicon.jpg"
                        />
                      </div>
                      <div class="card-number-box">
                        ****-****-****-[[${#strings.substring(card.cardNumber,
                        12)}]]
                      </div>
                      <div class="flexbox">
                        <div class="box">
                          <div class="card-holder">Card Holder</div>
                          <div class="card-holder-name">
                            [[${card.cardHolderName}]]
                          </div>
                        </div>
                        <div class="box">
                          <span>Expiration Date</span>
                          <div class="expiration">
                            <span class="exp-year"
                              >[[${card.cardExpYear}]]</span
                            >
                            <span>/</span>
                            <span class="exp-month"
                              >[[${card.cardExpMonth}]]</span
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="buttons-for-edit-card">
                    <form
                      th:action="@{/account/setDefaultCard}"
                      th:method="post"
                    >
                      <input
                        type="hidden"
                        th:value="${card.paymentOptionId}"
                        name="paymentOptionId"
                      />
                      <button type="submit" class="form-paymentTablinks">
                        Set Default
                      </button>
                    </form>
                    <button
                      type="card-form-edit"
                      class="form-paymentTablinks"
                      th:onclick="'on' + ${cardStat.count} + 'CardEditButtonClick()'"
                    >
                      Edit
                    </button>
                    <form th:action="@{/account/removeCard}" th:method="post">
                      <input
                        type="hidden"
                        th:value="${card.paymentOptionId}"
                        name="paymentOptionId"
                      />
                      <button type="submit" class="form-paymentTablinks">
                        Remove
                      </button>
                    </form>
                  </div>

                  <!-- Existing Card Edit -->
                  <div class="edit-payment-methode">
                    <form
                      class="card-edit-form"
                      th:action="@{/account/editCard}"
                      method="post"
                    >
                      <input
                        type="hidden"
                        th:value="${card.paymentOptionId}"
                        name="paymentOptionId"
                      />
                      <div class="card-row" id="card-row-header">
                        <div
                          class="form-control-hide"
                          th:id="'card-edit-header' + ${cardStat.count}"
                        >
                          <label class="edit-card-header">Edit Card</label>
                        </div>
                      </div>

                      <div class="card-row">
                        <div
                          class="form-control-hide"
                          th:id="'edit-card-name' + ${cardStat.count}"
                        >
                          <p>Enter Name On Card</p>
                          <input
                            th:class="'edit-card-name' + ${cardStat.count}"
                            type="text"
                            name="cardName"
                            placeholder="John Doe"
                          />
                          <i class="fas fa-check-circle"></i>
                          <i class="fas fa-exclamation-circle"></i>
                          <small>Error message</small>
                        </div>
                      </div>

                      <div class="card-row">
                        <div
                          class="form-control-hide"
                          th:id="'edit-card-num' + ${cardStat.count}"
                        >
                          <p>Enter Card Number</p>
                          <input
                            th:class="'edit-card-num' + ${cardStat.count}"
                            type="text"
                            name="cardNum"
                            placeholder="1234-1234-1234-1234"
                          />
                          <i class="fas fa-check-circle"></i>
                          <i class="fas fa-exclamation-circle"></i>
                          <small>Error message</small>
                        </div>
                      </div>

                      <div class="card-row">
                        <div
                          class="form-control-hide"
                          th:id="'card-edit-expMonth' + ${cardStat.count}"
                        >
                          <div id="edit-card-expMonth">
                            <p>Enter Expiration Month</p>
                            <input
                              th:class="'edit-card-expMonth' + ${cardStat.count}"
                              type="text"
                              name="cardExpMonth"
                              placeholder="05"
                            />
                            <i class="fas fa-check-circle"></i>
                            <i class="fas fa-exclamation-circle"></i>
                            <small>Error message</small>
                          </div>
                        </div>
                      </div>
                      <div class="card-row">
                        <div
                          class="form-control-hide"
                          th:id="'card-edit-expYear' + ${cardStat.count}"
                        >
                          <div id="edit-card-expYear">
                            <p>Enter Expiration Year</p>
                            <input
                              th:class="'edit-card-expYear' + ${cardStat.count}"
                              type="text"
                              name="cardExpYear"
                              placeholder="24"
                            />
                            <i class="fas fa-check-circle"></i>
                            <i class="fas fa-exclamation-circle"></i>
                            <small>Error message</small>
                          </div>
                        </div>
                      </div>
                      <div class="card-row">
                        <div
                          class="form-control-hide"
                          th:id="'card-edit-Cvv' + ${cardStat.count}"
                        >
                          <div id="edit-card-cvv">
                            <p>Enter Card CVV</p>
                            <input
                              th:class="'edit-card-cvv' + ${cardStat.count}"
                              type="text"
                              name="cardCVV"
                              placeholder="123"
                            />
                            <i class="fas fa-check-circle"></i>
                            <i class="fas fa-exclamation-circle"></i>
                            <small>Error message</small>
                          </div>
                        </div>
                      </div>
                      <div class="card-row">
                        <button
                          class="form-control-hide"
                          th:id="'edit-card-button' + ${cardStat.count}"
                          type="form-edit"
                          th:onclick="'return check' + ${cardStat.count} +  'EditCardInputs()'"
                        >
                          Save
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!--End-->

            <!-- Add Payment Option Template -->
            <div id="add-payment-option" class="paymentTabContent">
              <h3>Add Payment Option</h3>
              <!-- Card Image -->
              <div class="card-container">
                <div class="front" id="addCardFront">
                  <div class="cardImage">
                    <img src="img/chip.png" />
                    <img src="img/visa.png" />
                  </div>
                  <div class="card-number-box" id="cardNumber">
                    ****-****-****-****
                  </div>
                  <div class="flexbox">
                    <div class="box">
                      <div class="card-holder">Card Holder</div>
                      <div class="card-holder-name" id="holderName">
                        Full name
                      </div>
                    </div>
                    <div class="box">
                      <span>Expiration Date</span>
                      <div class="expiration">
                        <span class="exp-year" id="expYear">yy</span>
                        <span>/</span>
                        <span class="exp-month" id="expMonth">mm</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="back" id="addCardBack">
                  <div class="stripe"></div>
                  <div class="box">
                    <span>cvv</span>
                    <div class="cvv-box"></div>
                    <img src="img/visa.png" alt="" />
                  </div>
                </div>
              </div>
              <!-- Card Image End -->
              <form th:action="@{/account/addCard}" method="post">
                <div class="new-payment-option-form-container">
                  <label for="account-payment-option-name"
                    >Payment Option Name</label
                  >
                  <input
                    type="text"
                    id="account-payment-option-name"
                    name="paymentOptionName"
                  />
                  <label for="account-payment-fname">Accepted Cards</label>
                  <div class="account-payment-cc-icon-container">
                    <i class="fa fa-cc-visa"></i>
                    <i class="fa fa-cc-amex"></i>
                    <i class="fa fa-cc-mastercard"></i>
                    <i class="fa fa-cc-discover"></i>
                    <i class="fab fa-apple-pay"></i>
                  </div>
                  <label for="account-payment-cc-name">Name on Card</label>
                  <input
                    type="text"
                    id="account-payment-cc-name"
                    name="cardHolderName"
                    placeholder="John Doe"
                  />
                  <label for="account-payment-cc-num">Credit Card Number</label>
                  <input
                    type="text"
                    id="account-payment-cc-num"
                    name="cardNumber"
                    placeholder="1111-2222-3333-4444"
                    maxlength="19"
                  />
                  <label for="account-payment-cc-exp-month">Exp Month</label>
                  <input
                    type="text"
                    id="account-payment-cc-exp-month"
                    name="cardExpMonth"
                    placeholder="01"
                    maxlength="2"
                  />

                  <div class="account-row">
                    <div class="account-col-50">
                      <label for="account-payment-cc-exp-year">Exp Year</label>
                      <input
                        type="text"
                        id="account-payment-cc-exp-year"
                        name="cardExpYear"
                        placeholder="21"
                        maxlength="2"
                      />
                    </div>
                    <div class="account-col-50">
                      <label for="account-payment-cc-cvv">CVV</label>
                      <input
                        type="text"
                        id="account-payment-cc-cvv"
                        name="cardCvv"
                        placeholder="489"
                        maxlength="3"
                      />
                    </div>
                  </div>
                </div>
                <input
                  th:if="${#lists.size(card) < 5 OR #lists.isEmpty(card) == true}"
                  type="submit"
                  value="Add to Payment Options"
                  class="payment-btn"
                />
                <input
                  th:unless="${#lists.size(card) < 5}"
                  type="submit"
                  value="You already have the maximum number of cards"
                  class="payment-btn"
                  disabled
                />
              </form>
            </div>
            <!-- End -->
          </div>
        </div>
      </div>

      <div
        id="wishlist"
        class="tabContent"
        th:style="${activeTab == 4} ? 'display: block;' : 'display: none;'"
      >
        <div
          class="empty-wishlist"
          th:if="${wishList == null} OR ${wishList.items.empty}"
        >
          <img src="img/empty-wishlist.png" />
          <span th:text="'Your wish list is empty.'"></span>
        </div>
        <div class="account-row">
          <!--Whishlist Item Template-->
          <div th:if="${wishList}">
            <div
              class="wishlist-item"
              th:each="wishListItem : ${wishList.items}"
            >
              <div class="account-row">
                <div class="account-col-80">
                  <div class="wishlist-product-container">
                    <div class="wishlist-img-container">
                      <img th:src="${wishListItem.book.image}" alt="" />
                    </div>
                    <div class="wishlist-title-container">
                      <label>[[${wishListItem.book.alias}]]</label>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo consequat.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="account-col-20">
                  <label
                    >Price
                    <span class="wishlist-item-price"
                      >$[[${wishListItem.book.price}]]</span
                    >
                  </label>
                  <hr />
                  <form
                    th:action="@{/cart/addToCart}"
                    th:object="${wishListItem.book}"
                    method="post"
                  >
                    <input
                      type="hidden"
                      th:value="${wishListItem.book.isbn13}"
                      name="isbn13"
                    />
                    <input type="hidden" value="1" name="qty" />
                    <input
                      type="hidden"
                      value="true"
                      name="sentFromAccountWishList"
                    />
                    <button type="form-buy-now" value="buyNow" name="action">
                      Buy Now
                    </button>
                    <button
                      type="form-add-to-cart"
                      value="addToCart"
                      name="action"
                    >
                      Add to Cart
                    </button>
                  </form>
                  <a
                    th:href="@{/removeWishListItem/{isbn13}(isbn13 = ${wishListItem.book.isbn13})}"
                    data-toggle="tooltip"
                  >
                    <button type="form-remove">Remove</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!--End-->
        </div>
      </div>
    </div>

    <!--Footer-->
    <footer>
      <div class="footer-container">
        <section>
          <div class="footer-row">
            <h6>
              <a th:href="@{/home}">Home</a>
            </h6>
            <h6>
              <a th:href="@{/abouUs}">About Us</a>
            </h6>
            <h6>
              <a th:href="@{/books}">Books</a>
            </h6>
            <h6>
              <a th:href="@{/account}">Account</a>
            </h6>
          </div>
        </section>

        <hr />

        <section>
          <div class="footer-row">
            <p>
              Welcome to Boogle. We are here to fulfill your computer science
              needs. If you are looking for a computer science textbook, we got
              it! Please consider joining our newsletter!
            </p>
          </div>
        </section>

        <section>
          <div class="footer-row" id="newsletter">
            <form action="">
              <p>Join our newsletter</p>
              <input type="email" placeholder="johndoe@mail.com" />
              <button type="submit">Subscribe</button>
            </form>
          </div>
        </section>

        <section class="icons">
          <a href="">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://github.com/Gyu-Park/Book-Store-Website-Project">
            <i class="fab fa-github"></i>
          </a>
        </section>

        <div class="credits">
          <p>Boogle 2021: Software Engineering Methods | [[${version}]]</p>
        </div>
      </div>
    </footer>
  </body>
</html>
