<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://kit.fontawesome.com/91c05e75f9.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/footer.css">
  <title>Footer</title>
</head>

<body>
  <footer>
    <div class="footer-container">

      <section>
        <div class="footer-row">
          <h6>
            <a th:href="@{/home}">Home</a>
          </h6>
          <h6>
            <a th:href="@{/aboutUs}">About Us</a>
          </h6>
          <h6>
            <a th:href="@{/books}">Books</a>
          </h6>
          <h6>
            <a th:href="@{/account}">Account</a>
          </h6>
        </div>
      </section>

      <hr>

      <section>
        <div class="footer-row">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
            distinctio earum repellat quaerat voluptatibus placeat nam,
            commodi optio pariatur est quia magnam eum harum corrupti
            dicta, aliquam sequi voluptate quas.</p>
        </div>
      </section>

      <section>
        <div class="footer-row" id="newsletter">
          <form action="">
            <p>Join our newsletter</p>
            <input type="email" placeholder="johndoe@mail.com" />
            <button type="submit">Subscribe</button>
          </form>
        </div>
      </section>

      <section class="icons">
        <a href="">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://github.com/Gyu-Park/Book-Store-Website-Project">
          <i class="fab fa-github"></i>
        </a>
      </section>

      <div class="credits">
        <p>Boogle 2021: Software Engineering Methods | [[${version}]]</p>
      </div>

    </div>
  </footer>
</body>

</html>