<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/footer.css">


    <script src="https://kit.fontawesome.com/91c05e75f9.js" crossorigin="anonymous"></script>
    <script src="js/nav.js" defer></script>
    <script src="js/login.js" defer></script>


    <title>Login | Boogle.com</title>
</head>

<body>
    <!--Navigation Header-->
    <header>

        <div class="nav-container">
            <div class="logo">
                <a th:href="@{/home}"><i class="fas fa-book-reader"></i></a>
                <div class="nav-toggle" id="navToggle">
                    <i class="fas fa-bars"></i>
                    <i class="fas fa-times nav-hidden"></i>
                </div>
            </div>

            <!-- add the "current" id to the li element of the active page -->
            <nav>
                <div class="left">
                    <ul>
                        <li><a th:href="@{/home}">Home</a></li>
                        <li><a th:href="@{/aboutUs}">About Us</a></li>
                        <li><a th:href="@{/books}">Books</a></li>
                    </ul>
                </div>

                <div class="center">
                    <form action="" class="search-bar">
                        <input type="search" name="search-bar" placeholder="Search...">
                        <button type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                </div>

                <div class="right">
                    <ul>
                        <li class="button">
                            <a th:href="@{/cart}">
                                <i class="fa fa-shopping-cart"></i> Cart
                                <div class="cart-num">
                                    <p th:if="${shoppingCart.getTotalItemsNumber == 0}">
                                        [[${shoppingCart.getTotalItemsNumber}]]</p>
                                    <p th:unless="${shoppingCart.getTotalItemsNumber == 0}">
                                        [[${shoppingCart.getTotalItemsNumber}]]</p>
                                </div>
                            </a>
                        </li>
                        <li id="current">
                            <div sec:authorize="!isAuthenticated()" style="display: inline-block">
                                <a th:href="@{/login}">Sign in</a>
                            </div>
                            <div sec:authorize="isAuthenticated()" style="display: inline-block">
                                <form id="signout" th:action="@{/logout}" method="post"
                                    style="width: 100px; height: 41">
                                    <a href="javascript:;" onclick="document.getElementById('signout').submit();">Sign
                                        Out</a>
                                </form>
                            </div>
                        </li>
                        <li><a th:href="@{/account}">Account</a></li>
                    </ul>
                </div>
            </nav>

        </div>
    </header>


    <!--Login/SignUp Body-->
    <div class="user-loging-signup-tab-container">
        <div class="login-row">
            <div class="tabs">
                <button class="tablinks" id="tablinks-Login-Active" onClick="openForm(event, 'login')">Login</button>
                <button class="tablinks" id="tablinks-SignUp" onClick="openForm(event, 'signUp')">Sign Up</button>
            </div>
        </div>

        <div id="login" class="tabContent">
            <form th:action="@{/login}" method="post">
                <label for="login-email">E-Mail</label>
                <input type="text" id="login-emial" name="email" placeholder="Enter your email" required>

                <label for="login-password">Password<span class="psw"><a href="#">Forgot Password?</a></span></label>
                <input type="password" id="login-password" name="password" placeholder="Enter your password" required>

                <label>
                    <input type="checkbox" checked="checked" name="loging-remeber"> Remember me
                </label>
                <button type="form-submit">Login</button>
                <button type="cancel">Cancel</button>
            </form>
        </div>

        <div id="signUp" class="tabContent">
            <form th:action="@{/process_register}" method="post" th:object="${user}">
                <div class="login-row">
                    <div class="login-col-45">
                        <label for="signup-fname">First Name</label>
                        <input type="text" id="signup-fname" placeholder="John" name="firstname" required>
                    </div>
                    <div class="login-col-45" id="lname-custom-style-tag">
                        <label for="signup-lname">Last Name</label>
                        <input type="text" id="signup-lname" placeholder="Doe" name="lastname" required>
                    </div>
                </div>
                <label for="signup-email">E-Mail</label>
                <input type="text" id="signup-email" placeholder="johndoe@mail.com" name="email" required>

                <label for="signup-password">Password</label>
                <input type="password" id="signup-password" placeholder="Enter password" name="password" required>

                <label for="signup-repeat-password">Repeat Password</label>
                <input type="password" id="signup-repeat-password" placeholder="Re-enter password" required>

                <button type="form-submit">Sign Up</button>
                <button type="cancel">Cancel</button>
            </form>
        </div>

    </div>

    <!-- Footer -->
    <footer>
        <div class="footer-container">

            <section>
                <div class="footer-row">
                    <h6>
                        <a th:href="@{/home}">Home</a>
                    </h6>
                    <h6>
                        <a th:href="@{/aboutUs}">About Us</a>
                    </h6>
                    <h6>
                        <a th:href="@{/books}">Books</a>
                    </h6>
                    <h6>
                        <a th:href="@{/account}">Account</a>
                    </h6>
                </div>
            </section>

            <hr>

            <section>
                <div class="footer-row">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
                        distinctio earum repellat quaerat voluptatibus placeat nam,
                        commodi optio pariatur est quia magnam eum harum corrupti
                        dicta, aliquam sequi voluptate quas.</p>
                </div>
            </section>

            <section>
                <div class="footer-row" id="newsletter">
                    <form action="">
                        <p>Join our newsletter</p>
                        <input type="email" placeholder="johndoe@mail.com" />
                        <button type="submit">Subscribe</button>
                    </form>
                </div>
            </section>

            <section class="icons">
                <a href="">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://github.com/Gyu-Park/Book-Store-Website-Project">
                    <i class="fab fa-github"></i>
                </a>
            </section>

            <div class="credits">
                <p>Boogle 2021: Software Engineering Methods</p>
            </div>

        </div>
    </footer>
</body>

</html>