<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/91c05e75f9.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/nav.css">
  <title>Nav</title>
</head>

<body>
  <header>
    <script src="js/nav.js" defer></script>

    <div class="nav-container">
      <div class="logo">
        <a th:href="@{/home}"><i class="fas fa-book-reader"></i></a>
        <div class="nav-toggle" id="navToggle">
          <i class="fas fa-bars"></i>
          <i class="fas fa-times nav-hidden"></i>
        </div>
      </div>

      <!-- add the "current" id to the li element of the active page -->
      <nav>
        <div class="left">
          <ul>
            <li><a th:href="@{/home}">Home</a></li>
            <li><a th:href="@{/aboutUs}">About Us</a></li>
            <li><a th:href="@{/books}">Books</a></li>
          </ul>
        </div>

        <div class="center">
          <form action="" class="search-bar">
            <input type="search" name="search-bar" placeholder="Search...">
            <button type="submit">
              <i class="fas fa-search"></i>
            </button>
          </form>
        </div>

        <div class="right">
          <ul>
            <li class="button">
              <a th:href="@{/cart}">
                <i class="fa fa-shopping-cart"></i> Cart
                <div class="cart-num">
                  <p th:if="${shoppingCart.getTotalItemsNumber == 0}">[[${shoppingCart.getTotalItemsNumber}]]</p>
                  <p th:unless="${shoppingCart.getTotalItemsNumber == 0}">[[${shoppingCart.getTotalItemsNumber}]]</p>
                </div>
              </a>
            </li>
            <li>
              <div sec:authorize="!isAuthenticated()" style="display: inline-block">
                <a th:href="@{/login}">Sign in</a>
              </div>
              <div sec:authorize="isAuthenticated()" style="display: inline-block">
                <form id="signout" th:action="@{/logout}" method="post" style="width: 100px; height: 41">
                  <a href="javascript:;" onclick="document.getElementById('signout').submit();">Sign Out</a>
                </form>
              </div>
            </li>
            <li><a th:href="@{/account}">Account</a></li>
          </ul>
        </div>
      </nav>

    </div>
  </header>

</body>

</html>