<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/passReset.css" />
    <link rel="stylesheet" href="css/nav.css" />
    <link rel="stylesheet" href="css/footer.css" />
    <script
      src="https://kit.fontawesome.com/91c05e75f9.js"
      crossorigin="anonymous"
    ></script>
    <title>Password Reset | Boogle.com</title>
  </head>
  <body>
    <header>
      <script src="js/nav.js" defer></script>

      <div class="nav-container">
        <div class="logo">
          <a th:href="@{/home}"><i class="fas fa-book-reader"></i></a>
          <div class="nav-toggle" id="navToggle">
            <i class="fas fa-bars"></i>
            <i class="fas fa-times nav-hidden"></i>
          </div>
        </div>

        <!-- add the "current" id to the li element of the active page -->
        <nav>
          <div class="left">
            <ul>
              <li><a th:href="@{/home}">Home</a></li>
              <li><a th:href="@{/aboutUs}">About Us</a></li>
              <li><a th:href="@{/books}">Books</a></li>
            </ul>
          </div>

          <div class="center">
            <form th:action="@{/search}" method="get" class="search-bar">
              <input type="search" name="keyword" placeholder="Search..." />
              <button type="submit">
                <i class="fas fa-search"></i>
              </button>
            </form>
          </div>

          <div class="right">
            <ul>
              <li class="button">
                <a th:href="@{/cart}">
                  <i class="fa fa-shopping-cart"></i> Cart
                  <div class="cart-num">
                    <p>[[${shoppingCart.getTotalItemsNumber}]]</p>
                  </div>
                </a>
              </li>
              <li>
                <div
                  sec:authorize="!isAuthenticated()"
                  style="display: inline-block"
                >
                  <a th:href="@{/login}">Sign in</a>
                </div>
                <div
                  sec:authorize="isAuthenticated()"
                  style="display: inline-block"
                >
                  <form
                    id="signout"
                    th:action="@{/logout}"
                    method="post"
                    style="width: 100px; height: 41"
                  >
                    <a
                      href="javascript:;"
                      onclick="document.getElementById('signout').submit();"
                      >Sign Out</a
                    >
                  </form>
                </div>
              </li>
              <li><a th:href="@{/account}">Account</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </header>

    <div class="pass-reset-container">
      <div class="pass-reset-content">
        <section
          id="email"
          th:class="${verified} ? 'content-container' : 'content-container pass-reset-show'"
        >
          <form th:action="@{/forgot_password_1}" method="post">
            <h1>
              A verification code will be sent to the email of the account for a
              password reset.
            </h1>
            <p class="error" th:if="${error}" th:text="${error}"></p>
            <input type="email" name="email" placeholder="Enter your email" />
            <button type="form-submit">Send code</button>
          </form>
        </section>

        <section id="verification" th:class="${verified == 2} ? 'content-container pass-reset-show' : 'content-container'">
          <form th:action="@{/forgot_password_2}" method="post">
          	<input type="hidden" th:value="${email}" name="email" />
            <h1>Enter verification code sent to [[${email}]].</h1>
            <p class="error" th:if="${error}" th:text="${error}"></p>
            <input type="text" name="token" placeholder="Enter verification code" />
            <button type="form-submit">Submit</button>
          </form>
        </section>

        <section id="new-pass" th:class="${verified == 3} ? 'content-container pass-reset-show' : 'content-container'">
          <form th:action="@{/forgot_password_3}" method="post">
            <input type="hidden" th:value="${email}" name="email" />
            <h1>Enter new password.</h1>
            <p class="error"></p>
            <input type="password" name="password" placeholder="Enter new password" />
            <input type="password" placeholder="Re-enter new password" />
            <button type="form-submit">Submit</button>
          </form>
        </section>
      </div>
    </div>

    <footer>
      <div class="footer-container">
        <section>
          <div class="footer-row">
            <h6>
              <a th:href="@{/home}">Home</a>
            </h6>
            <h6>
              <a th:href="@{/aboutUs}">About Us</a>
            </h6>
            <h6>
              <a th:href="@{/books}">Books</a>
            </h6>
            <h6>
              <a th:href="@{/account}">Account</a>
            </h6>
          </div>
        </section>

        <hr />

        <section>
          <div class="footer-row">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
              distinctio earum repellat quaerat voluptatibus placeat nam,
              commodi optio pariatur est quia magnam eum harum corrupti dicta,
              aliquam sequi voluptate quas.
            </p>
          </div>
        </section>

        <section>
          <div class="footer-row" id="newsletter">
            <form action="">
              <p>Join our newsletter</p>
              <input type="email" placeholder="johndoe@mail.com" />
              <button type="submit">Subscribe</button>
            </form>
          </div>
        </section>

        <section class="icons">
          <a href="">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://github.com/Gyu-Park/Book-Store-Website-Project">
            <i class="fab fa-github"></i>
          </a>
        </section>

        <div class="credits">
          <p>Boogle 2021: Software Engineering Methods | [[${version}]]</p>
        </div>
      </div>
    </footer>
  </body>
</html>
