<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="css/product.css">
  <link rel="stylesheet" href="css/nav.css">
  <link rel="stylesheet" href="css/footer.css">

  <script src="js/nav.js" defer></script>
  <script src="js/product.js" defer></script>
  <script src="https://kit.fontawesome.com/91c05e75f9.js" crossorigin="anonymous"></script>

  <!--Title will be injected based on book title-->
  <title>[[${book.alias}]] | Boogle.com</title>
</head>

<body>
  <!--Navigation Header-->
  <header>

    <div class="nav-container">
      <div class="logo">
        <a th:href="@{/home}"><i class="fas fa-book-reader"></i></a>
        <div class="nav-toggle" id="navToggle">
          <i class="fas fa-bars"></i>
          <i class="fas fa-times nav-hidden"></i>
        </div>
      </div>

      <!-- add the "current" id to the li element of the active page -->
      <nav>
        <div class="left">
          <ul>
            <li><a th:href="@{/home}">Home</a></li>
            <li><a th:href="@{/aboutUs}">About Us</a></li>
            <li id="current"><a th:href="@{/books}">Books</a></li>
          </ul>
        </div>

        <div class="center">
          <form th:action="@{/search}" method="get" class="search-bar">
            <input type="search" name="keyword" placeholder="Search...">
            <button type="submit">
              <i class="fas fa-search"></i>
            </button>
          </form>
        </div>

        <div class="right">
          <ul>
            <li class="button">
              <a th:href="@{/cart}">
                <i class="fa fa-shopping-cart"></i> Cart
                <div class="cart-num">
                  <p>[[${shoppingCart.getTotalItemsNumber}]]</p>
                </div>
              </a>
            </li>
            <li>
              <div sec:authorize="!isAuthenticated()" style="display: inline-block">
                <a th:href="@{/login}">Sign in</a>
              </div>
              <div sec:authorize="isAuthenticated()" style="display: inline-block">
                <form id="signout" th:action="@{/logout}" method="post" style="width: 100px; height: 41">
                  <a href="javascript:;" onclick="document.getElementById('signout').submit();">Sign Out</a>
                </form>
              </div>
            </li>
            <li><a th:href="@{/account}">Account</a></li>
          </ul>
        </div>
      </nav>

    </div>
  </header>


  <!--Product Body Content-->
  <div class="product-content-container">
    <div class="product-row">

      <!--Img Container-->
      <div class="product-col-30">
        <div class="product-img-container">
          <img th:src="${book.image}" alt="" id="product-item-img">
        </div>
      </div>

      <div class="product-col-70">
        <div class="product-row">

          <!--Title and Description / Options-->
          <div class="product-col-60">
            <div class="product-row">
              <div class="product-title-author-container">
                <h2 id="product-item-title"><span th:text="${book.title}"></span></h2>
                <p id="product-item-authors">by <span th:text="${book.author}"></span></p>
                <p id="product-item-price">Price: $<span th:text="${book.price}"></span></p>
              </div>
            </div>
            <hr>
            <div class="checkout-row">
              <div class="product-rating-container" th:if="${avgRating}">
                <i th:class="${avgRating} > 0 AND ${avgRating} < 0.8 ? 'fas fa-star-half'"></i>
	            <i th:class="${avgRating} >= 0.8 AND ${avgRating} <= 5 ? 'fas fa-star'"></i>
	            <i th:class="${avgRating} < 1.3 ? 'far fa-star'"></i>
	            <i th:class="${avgRating} > 1.2 AND ${avgRating} < 1.8 ? 'fas fa-star-half'"></i>
	            <i th:class="${avgRating} >= 1.8 AND ${avgRating} <= 5 ? 'fas fa-star'"></i>
	            <i th:class="${avgRating} < 2.3 ? 'far fa-star'"></i>
	            <i th:class="${avgRating} > 2.2 AND ${avgRating} < 2.8 ? 'fas fa-star-half'"></i>
	            <i th:class="${avgRating} >= 2.8 AND ${avgRating} <= 5 ? 'fas fa-star'"></i>
	            <i th:class="${avgRating} < 3.3 ? 'far fa-star'"></i>
	            <i th:class="${avgRating} > 3.2 AND ${avgRating} < 3.8 ? 'fas fa-star-half'"></i>
	            <i th:class="${avgRating} >= 3.8 AND ${avgRating} <= 5 ? 'fas fa-star'"></i>
	            <i th:class="${avgRating} < 4.3 ? 'far fa-star'"></i>
	            <i th:class="${avgRating} > 4.2 AND ${avgRating} < 4.8 ? 'fas fa-star-half'"></i>
	            <i th:class="${avgRating} >= 4.8 AND ${avgRating} <= 5 ? 'fas fa-star'"></i>
	            <span style="font-size: 14px;">[[${avgRating}]] out of 5</span>
                <a href="">Reviews</a>
                <span class="right-span">Ratings | [[${#lists.size(reviews)}]]</span>
              </div>
              <div class="product-rating-container" th:unless="${avgRating}">
                <span style="font-size: 14px;">No reviews for this book</span>
              	<span class="right-span">Ratings | 0</span>
              </div>
            </div>
            <hr>
            <div class="product-row">
              <div class="product-description-container">
                <p id="product-item-description">&nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur
                  adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua. Adipiscing commodo
                  elit at imperdiet. Vestibulum lectus mauris ultrices
                  eros in cursus turpis. Lectus arcu bibendum at varius vel pharetra vel turpis nunc.
                  Duis ut diam quam nulla porttitor massa id neque aliquam.</p>
              </div>
            </div>
            <hr>
            <div class="product-row">
              <p>Product Options</p>
            </div>

          </div>

          <!--Buy Option Menu-->
          <div class="product-col-40">
            <div class="product-buy-options">
              <div class="product-row">
                <div class="product-BO-price">
                  <p id="product-item-price">Price: $<span th:text="${book.price}"></span></p>
                </div>
              </div>
              <hr>
              <div class="product-row">
                <div id="item-Avaliable" class="product-avalibility">
                  <p th:if="${book.number_on_hand &gt; 0}">In Stock</p>
                  <p th:unless="${book.number_on_hand &gt; 0}" style="color:red">Sold Out</p>
                </div>
              </div>
              <hr>
              <div class="product-row">
                <div class="product-BO-shop-options">
                  <form th:action="@{/cart/addToCart}" method="post">
                    <input type="hidden" th:field="*{book.isbn13}" />
                    <input type="hidden" value="false" name="sentFromAccountWishList">
                    <label for="item-qty" id="product-BO-item-QTY">Qty: </label>
                    <input type="number" id="item-qty" value="1" name="qty" th:attr="max=${book.number_on_hand}" th:disabled="${book.number_on_hand <= 0}" required>
                    <button type="product-submit" th:disabled="${book.number_on_hand <= 0}" name="action" value="addToCart">Add to Cart</button>
                    <button type="product-submit" th:disabled="${book.number_on_hand <= 0}" name="action" value="buyNow">Buy Now</button>
                  </form>
                  <div sec:authorize="isAuthenticated()">
                    <a th:href="@{/addToWishList/{isbn13}(isbn13 = ${book.isbn13})}">
                      <button type="product-submit">Add to Wish List</button>
                    </a>
                  </div>
                </div>
              </div>
              <hr>
              <div class="product-row">
                <div class="product-BO-shareItem">
                  <p>Share Item</p>
                  <a href=""><i class="fab fa-facebook-f"></i></a>
                  <a href=""><i class="fab fa-twitter"></i></a>
                  <a href=""><i class="fab fa-instagram"></i></a>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>

    </div>

    <!--Similar Items Container-->
    <div class="product-row">
      <div class="similar-item-container">
        <h2>Similar Items</h2>
        <hr>
        <div class="product-row">
          <!--Item Courousel and Template-->
          <div class="carousel-container">
            <div class="carousel-inner">
              <div class="carousel-track">

                <!--Item Card Template-->
                <div class="carousel-card" th:each="similarItems,stat : ${similarItems}">
                  <a th:href="@{/product?isbn13=}+${similarItems.isbn13}">
                    <div class="product-row">
                      <img class="carousel-img" th:src="${similarItems.image}">
                    </div>
                    <div class="product-row">
                      <h3 class="carousel-txt" th:text="${similarItems.alias}">/h3>
                    </div>
                  </a>
                </div>

              </div>
              <div class="carousel-nav">
                <button class="prev"><i class="fas fa-chevron-left"></i></button>
                <button class="next"><i class="fas fa-chevron-right"></i></button>
              </div>
            </div>
          </div>
        </div>
        <hr>

      </div>
    </div>

    <!--Reviews Conteiner-->
    <!--Write a Review Modal From-->
    <div id="product-review-modal-form" class="review-modal">

      <form class="form-modal-review animate" th:action="@{/product/createReview}" method="post">
		<input type="hidden" th:field="*{book.isbn13}" />
        <div class="review-modal-row">
          <div class="modal-close">
            <span onclick="document.getElementById('product-review-modal-form').style.display='none'" class="close"
              title="Close Review Form">&times;</span>
          </div>
        </div>

        <div class="review-modal-row">

          <div class="review-modal-content">
            <h3>Leave a Customer Review</h3>
            <hr>
            <div class="star-rating-container" data-value="3">
              <input type="hidden" id="rating" name="rating" >
              <span class="star">&nbsp;</span>
              <span class="star">&nbsp;</span>
              <span class="star">&nbsp;</span>
              <span class="star">&nbsp;</span>
              <span class="star">&nbsp;</span>
            </div>
            <hr>
            <div class="customer-review-description">
              <p>Review Title</p>
              <input type="customer-review-title" name="reviewTitle" id="customer-review-title" maxlength="50">
              <p>Write a Description</p>
              <textarea type="customer-review-description" name="reviewDes" id="customer-review-description" maxlength="250"></textarea>
            </div>
            <hr>
            <div class="customer-review-submit">
              <button type="customer-review-submit">Submit Review</button>
            </div>

          </div>
        </div>

      </form>
    </div>

    <!--Reviews-->
    <div class="product-row">
      <div class="review-container">
        <div class="produuct-row" th:if="${avgRating}">
          <h2>Reviews |
            <i th:class="${avgRating} > 0 AND ${avgRating} < 0.8 ? 'fas fa-star-half'"></i>
            <i th:class="${avgRating} >= 0.8 AND ${avgRating} <= 5 ? 'fas fa-star'"></i>
            <i th:class="${avgRating} < 1.3 ? 'far fa-star'"></i>
            <i th:class="${avgRating} > 1.2 AND ${avgRating} < 1.8 ? 'fas fa-star-half'"></i>
            <i th:class="${avgRating} >= 1.8 AND ${avgRating} <= 5 ? 'fas fa-star'"></i>
            <i th:class="${avgRating} < 2.3 ? 'far fa-star'"></i>
            <i th:class="${avgRating} > 2.2 AND ${avgRating} < 2.8 ? 'fas fa-star-half'"></i>
            <i th:class="${avgRating} >= 2.8 AND ${avgRating} <= 5 ? 'fas fa-star'"></i>
            <i th:class="${avgRating} < 3.3 ? 'far fa-star'"></i>
            <i th:class="${avgRating} > 3.2 AND ${avgRating} < 3.8 ? 'fas fa-star-half'"></i>
            <i th:class="${avgRating} >= 3.8 AND ${avgRating} <= 5 ? 'fas fa-star'"></i>
            <i th:class="${avgRating} < 4.3 ? 'far fa-star'"></i>
            <i th:class="${avgRating} > 4.2 AND ${avgRating} < 4.8 ? 'fas fa-star-half'"></i>
            <i th:class="${avgRating} >= 4.8 AND ${avgRating} <= 5 ? 'fas fa-star'"></i>
            <span style="font-size: 18px;">[[${avgRating}]] out of 5</span>
	        <span sec:authorize="isAuthenticated()" class="right-span"><button type="generate-review"
	            onClick="document.getElementById('product-review-modal-form').style.display='block'">
	            Write A Review</button></span>
          </h2>
        </div>
        <div class="produuct-row" th:unless="${avgRating}">
          <h2>Reviews</h2>
        </div>
        <hr>

        <div class="customer-review-container">

          <!--Review Templates-->
          <div class="product-row">
            <div class="single-review-container" th:if="${reviews != null}" th:each="review : ${reviews}">
              <div class="product-row">
                <h4>
                	<i id="review-user-icon" class="fas fa-user-circle"></i>
                	&nbsp;[[${review.user.firstname}]] [[${review.user.lastname}]] 
                	<small th:if="${#lists.contains(listOfUsersWhoOrderedThisItem, review.user.userid)}">&nbsp;Verified Purchase</small>
                </h4>
              </div>

              <div class="product-row">
                <div class="single-review-star-container">
                  <i th:class="${review.rating} > 0 AND ${review.rating} < 5.01 ? 'fas fa-star' : 'far fa-star'"></i>
	              <i th:class="${review.rating} > 1 AND ${review.rating} < 5.01 ? 'fas fa-star' : 'far fa-star'"></i>
	              <i th:class="${review.rating} > 2 AND ${review.rating} < 5.01 ? 'fas fa-star' : 'far fa-star'"></i>
	              <i th:class="${review.rating} > 3 AND ${review.rating} < 5.01 ? 'fas fa-star' : 'far fa-star'"></i>
	              <i th:class="${review.rating} > 4 AND ${review.rating} < 5.01 ? 'fas fa-star' : 'far fa-star'"></i>
                </div>
                <!--Review Title-->
                <b>&nbsp;&nbsp;&nbsp;[[${review.reviewTitle}]]</b>
              </div>

              <div class="product-row">
                <div class="signle-review-description">
                  <p>[[${review.reviewDes}]]</p>
                </div>
              </div>

            </div>
            <div class="empty-review-container" th:if="${#lists.isEmpty(reviews)}">
              <div class="empty-review-container-secondDiv">
                <img src="img/empty-wishlist.png" >
                <span>There are no reviews for this book yet.</span>
              </div>
            </div>
          </div>
          <hr>
          <!--End-->

        </div>
      </div>
    </div>

  </div>

  <!--Footer-->
  <footer>
    <div class="footer-container">

      <section>
        <div class="footer-row">
          <h6>
            <a th:href="@{/home}">Home</a>
          </h6>
          <h6>
            <a th:href="@{/aboutUs}">About Us</a>
          </h6>
          <h6>
            <a th:href="@{/books}">Books</a>
          </h6>
          <h6>
            <a th:href="@{/account}">Account</a>
          </h6>
        </div>
      </section>

      <hr>

      <section>
        <div class="footer-row">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum repellat quaerat
            voluptatibus placeat nam, commodi optio pariatur est quia magnam eum harum corrupti dicta,
            aliquam sequi voluptate quas.</p>
        </div>
      </section>

      <section>
        <div class="footer-row" id="newsletter">
          <form action="">
            <p>Join our newsletter</p>
            <input type="email" placeholder="johndoe@mail.com" />
            <button type="submit">Subscribe</button>
          </form>
        </div>
      </section>

      <section class="icons">
        <a href="">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://github.com/Gyu-Park/Book-Store-Website-Project">
          <i class="fab fa-github"></i>
        </a>
      </section>

      <div class="credits">
        <p>Boogle 2021: Software Engineering Methods | [[${version}]]</p>
      </div>

    </div>
  </footer>
</body>

</html>